@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Bree Serif:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-image: url("https://assets.ccbp.in/frontend/static-website/flats-list-bg.png");
    height: 100vh;
    width: 1000px;
    background-size: cover;
}

.card-container {
    background-color: white;
    border-top-left-radius: 10px;
    text-align: center;
    border-top-right-radius: 10px;
    font-family: "Bree serif";
    padding: 20px;
}

.card-heading {
    font-size: 24px;
    color: #f19116;
}

.card-description {
    font-size: 18px;
    color: #7b8794;
}

.card-button {
    background-color: #f19116;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border-width: 0px;
    color: white;
}

.bhk-bg-container {
    background-color: #222222;
    background-size: cover;
    height: 120vh;
    padding: 10px;
    width: 1000px;
}

.bhk-image {
    width: 100px;
    height: 153px;
    background-size: cover;
}

.bhk-container {
    background-color: white;
    border-radius: 10px;
    font-family: "Bree serif";

}

.bhk-heading {
    font-size: 24px;
    color: #0f0e46;
    padding-left: 10px;
    padding-top: 10px;
}

.bhk-description {
    font-size: 12.4px;
    color: #6c6b70;
    padding-left: 10px;
}

.gap {
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.bhk-button {
    color: white;
    background-color: #f19116;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border-width: 0px;
    margin-top: 10px;
}

.bg-det {
    background-color: #222222;
    font-family: "Bree serif";
}

.image-det {
    height: 40vh;
    background-size: cover;
}

.det-heading {
    color: #f19116;
    font-size: 24px;
    padding: 10px;
}

.det-para {
    color: white;
    font-size: 18px;
    padding: 10px;
}

.line {
    background-color: white;
    margin: 10px;
}

.det-button {
    margin: 5px;
}

.image-det1 {
    height: 40vh;
    background-size: cover;
}

.bg-detail-view {
    width: 1000px;
    height: 100vh;
}